<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/default::head('Member Join')">
<meta charset="UTF-8">
<title>Member Join</title>
</head>
<body>
	<!-- header  -->
	<div th:replace="/fragments/default::header"></div>
	<!-- Jumbo -->
	<div th:replace="/fragments/default::jumbo"></div>
	<!--/member/memberJoin  -->
	<!--com......member패키지.MemberController.setJoin메서드  -->

	<h1>Member Join Page</h1>
	
	<!-- footer  -->
	<footer th:replace="/fragments/default::footer"></footer>
</body>
</html>