<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/summernote::head(${board}+'Write')">
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<!-- header  -->
	<div th:replace="/fragments/default::header"></div>
	<!-- Jumbo -->
	<div th:replace="/fragments/default::jumbo"></div>

	<div class="container">

		<div th:replace="/fragments/boardForm :: form (${action})">
			<!-- form -->
		</div>

	</div>

	
	<!-- footer  -->
	<footer th:replace="/fragments/default::footer"></footer>

	 <!-- include summernote css/js -->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
	
	<script type="text/javascript">
		$("#contents").summernote();
			
			
		
	</script>
</body>
</html>