<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/default::head(${board}+'Write')">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- header  -->
	<div th:replace="/fragments/default::header"></div>
	<!-- Jumbo -->
	<div th:replace="/fragments/default::jumbo"></div>

	<div class="container">
		<h1>Board Insert</h1>
		<h2>${board}form</h2>
		<form id="frm" action="#" th:action="@{./insert}" method="post">
			<div class="form-group">
				<label for="writer">Writer:</label> <input type="text"
					class="form-control myCheck" id="writer" name="writer">
			</div>
			<div class="form-group">
				<label for="title">Title:</label> <input type="text"
					class="form-control myCheck" id="title" name="title">
			</div>

			<div class="form-group">
				<label for="contents">Contents:</label>
				<textarea class="form-control myCheck" rows="5" id="contents"
					name="contents"></textarea>
			</div>

			<div>
				<button type="submit" class="btn btn-outline-primary">WRITE</button>
			</div>
		</form>
	</div>

	<!-- footer  -->
	<footer th:replace="/fragments/default::footer"></footer>

</body>
</html>