<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/default::head(${board}+'select')">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- header  -->
	<div th:replace="/fragments/default::header"></div>
	<!-- Jumbo -->
	<div th:replace="/fragments/default::jumbo"></div>

	<div class="container">
		<h2 th:text="${vo.title}"></h2>
		<h2 th:text="${vo.contents}"></h2>
	</div>

	<!-- footer  -->
	<footer th:replace="/fragments/default::footer"></footer>

</body>
</html>