<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/default::head(${board}+'Update')">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- header  -->
	<div th:replace="/fragments/default::header"></div>
	<!-- Jumbo -->
	<div th:replace="/fragments/default::jumbo"></div>

	<div class="container">
		<div th:replace="/fragments/boardForm :: form">
			<!-- form -->
		</div>
	</div>

	<!-- footer  -->
	<footer th:replace="/fragments/default::footer"></footer>

</body>
</html>