<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/default::head('Index')">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="/fragments/default::header"></div>
	<div th:replace="/fragments/default::jumbo"></div>
	
	<!-- message #{message의 key} -->
	<h1 th:text="#{hello}"></h1>
	<h1 th:text="#{user.welcome(${user}, ${msg})}"></h1>
	<h1 th:text="|User : ${session.member}|"></h1>
	
<footer th:replace="/fragments/default::default_footer"></footer>
</body>
</html>