<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/default::head(${board}+'Write')">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- header  -->
	<div th:replace="/fragments/default::header"></div>
	<!-- Jumbo -->
	<div th:replace="/fragments/default::jumbo"></div>
	<div class="container">
		<div th:fragment="form (act)">
			<h1>Board Insert</h1>
			<form id="frm" action="#" th:action="@{${act}}" method="post">
				<input type="hidden" name="num" th:value="${vo.num}">

				<div class="form-group">
					<label for="writer">Writer:</label> <input type="text"
						th:value="${vo.writer}" class="form-control myCheck" id="writer"
						name="writer">
				</div>
				<div class="form-group">
					<label for="title">Title:</label> <input type="text"
						class="form-control myCheck" th:value="${vo.title}" id="title"
						name="title">
				</div>

				<div class="form-group">
					<label for="contents">Contents:</label>
					<textarea class="form-control myCheck" th:text="${vo.contents}"
						rows="5" id="contents" name="contents"></textarea>
				</div>

				<div>
					<button type="submit" class="btn btn-outline-primary">Update</button>
				</div>
			</form>
		</div>
	</div>
	<!-- footer  -->
	<footer th:replace="/fragments/default::footer"></footer>

</body>
</html>